 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/IMG_3418.JPG');
  background-position: 50% 50%, 50% 66.03%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 499px;
}

.u-section-1 .u-text-1 {
  margin: 175px 398px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 118px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 760px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 513px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 73px auto 0;
}

.u-section-3 .u-list-1 {
  width: 668px;
  margin: 45px 219px 11px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 323px;
  --gap: 26px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -39px 2px 0 56px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 13px 0 0 57px;
}

.u-section-3 .u-group-1 {
  min-height: 180px;
  height: auto;
  width: 539px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px auto 0 13px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 30px;
}

.u-section-3 .u-text-4 {
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-5 {
  line-height: 2.2;
  padding-left: 3px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-left: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 44px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 388px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: 105px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 29px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 772px;
  margin-top: 34px;
  margin-bottom: 57px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-4 .u-gallery-1 {
    height: 635px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1113px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3525px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3400px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2379px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2172px;
  }
} .u-section-5 {
  min-height: 798px;
}

.u-section-5 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-left-radius: 30px;
  --bottom-right-radius: 30px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -286px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 681px;
  --radius: 50px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 31px;
}

.u-section-5 .u-btn-1 {
  font-size: 3rem;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  font-size: 0.9376em;
}

.u-section-5 .u-image-1 {
  width: 475px;
  height: 317px;
  --radius: 30px;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 685px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 32px;
    margin-left: 32px;
  }

  .u-section-5 .u-image-1 {
    width: 395px;
    height: 263px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 535px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-5 .u-image-1 {
    width: 285px;
    height: 190px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 544px;
  }

  .u-section-5 .u-shape-1 {
    height: 382px;
    margin-top: -36px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 25px 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 17px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 43px;
  }
}