
body {
    font-family: sans-serif;
    text-align: center;
    background: #f0f8ff;
    margin: 0;
    padding: 0;
}
header {
    background: #fdd835;
    padding: 2rem;
}
section {
    padding: 2rem;
}
footer {
    background: #ccc;
    padding: 1rem;
    margin-top: 2rem;
}
